<?xml version="1.0"?>
<launch>
    <arg name="machine_type"   default="$(env MACHINE_TYPE)" />
    <arg     if="$(eval machine_type == 'JetAutoPro')" name="use_depth_cam"  value="false"/>
    <arg unless="$(eval machine_type == 'JetAutoPro')" name="use_depth_cam"  value="true"/>

    <!--启动巡线行驶节点(start line following node)-->
    <node name="line_following" pkg="jetauto_app" type="line_following.py" output="screen">
        <param name="use_depth_cam" value="$(arg use_depth_cam)"/>
    </node>
</launch>

