<?xml version="1.0"?>
<launch>
    <arg name="use_depth_cam"   default="true"/>
    <include     if="$(arg use_depth_cam)" file="$(find jetauto_peripherals)/launch/astrapro.launch"/>
    <include unless="$(arg use_depth_cam)" file="$(find jetauto_peripherals)/launch/usb_cam.launch"/>

    <node pkg="jetauto_example" type="color_detect_node.py" name="color_detect_node" output="screen">
        <rosparam file="$(find jetauto_example)/scripts/color_detect/roi.yaml" command="load"/>
        <param name="use_depth_cam"  value="$(arg use_depth_cam)"/>
    </node>
</launch>
