<?xml version="1.0"?>
<launch>
    <arg name="start"   default="true"/>
    <arg name="debug"   default="false"/>

    <include file="$(find jetauto_example)/scripts/color_detect/color_detect_node.launch">
        <arg name="use_depth_cam"   value="false"/>
    </include>

    <node pkg="jetauto_example" type="color_sorting_node.py" name="color_sorting_node" output="screen">
        <param name="start" value="$(arg start)"/>
        <param name="debug" value="$(arg debug)"/>
    </node>
</launch>
