<?xml version="1.0" encoding="utf-8"?>
<robot name="lidar_a1" xmlns:xacro="http://ros.org/wiki/xacro" >
  <xacro:property name="M_PI" value="3.1415926535897931"/>
  <link name="lidar_frame" />
  <joint
    name="lidar_frame_joint"
    type="fixed">
    <!-- MS200 (2026-06-04): rpy yaw = 0. Su 0deg crudo apunta al FRENTE del robot, asi que NO
         necesita giro. (El RPLIDAR A1 tenia su 0deg al reves -> usaba rpy="0 0 ${M_PI}" = 180deg;
         con el MS200 ese 180deg dejaba el scan volteado -> objeto al frente caia en 180deg/atras.)
         Para volver al A1: restaurar rpy="0 0 ${M_PI}". -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="lidar_link" />
    <child link="lidar_frame" />
  </joint>
</robot>
