<?xml version="1.0"?>
<launch>
    <env name="ROS_MASTER_URI" value="http://192.168.1.2:11311"/>
    <env name="ROS_IP"         value="192.168.1.2"/>
    <env name="ROS_HOSTNAME"   value="192.168.1.2"/>

    <node name="jetauto_controller" pkg="jetauto_controller" type="jetauto_controller_main.py" output="screen">
        <rosparam file="$(find jetauto_controller)/config/calibrate_params.yaml" command="load"/>
        <remap from="/jetauto_controller/odom" to="/vel_raw"/>
    </node>

    <node name="imu" pkg="mpu_6050_driver" type="imu_node.py" output="screen">
        <param name="freq" value="50"/>
        <param name="imu_frame" value="imu_link"/>
        <param name="imu_raw" value="imu_raw"/>
        <remap from="imu_raw" to="/imu/data_raw"/>
    </node>

    <include file="$(find jetauto_peripherals)/launch/lidar.launch" />
</launch>