<?xml version="1.0"?>
<!--角速度校准-->
<launch>
    <arg name="turn"            default="false"/>
    <arg name="angular"         default="false"/>
    <arg name="machine_type"    default="$(env MACHINE_TYPE)"/>

    <!--机器人urdf模型加载(load robot urdf model)-->
    <param name="robot_description" command="$(find xacro)/xacro '$(find jetauto_description)/urdf/jetauto.urdf.xacro'
    odom_frame:=odom base_frame:=base_footprint depth_camera_name:=camera lidar_view:=false"/>

    <!--tf转换和发布(tf conversion and publishing)-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

    <!--底盘驱动(chassis driver)-->
    <include file="$(find jetauto_controller)/launch/jetauto_controller.launch"/>

    <!--odom发布(odom publishing)-->
    <include file="$(find jetauto_controller)/launch/odom_publish.launch"/>

    <!--角速度校准(angular velocity calibration)-->
    <node name="calibrate_angular" pkg="jetauto_calibration" type="calibrate_angular.py" output="screen"/>

    <include file="$(find hiwonder_servo_controllers)/launch/start.launch"/>
    <node name="init_pose" pkg="jetauto_slam" type="init_pose.py" output="screen"/>

    <!--rqt-->
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="calibrate_rqt_reconfigure"/>

    <!--参数重赋值(reassign the parameter)-->
    <param if="$(arg angular)" name="/jetauto_odom_publisher/angular_correction_factor" value="1.0"/>
    <param if="$(arg turn)" name="/jetauto_controller/turn_factor"                      value="1.0"/>
</launch>
